<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2020 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>health</display-name>
  <description>LRA servlet</description>

<!-- 
  <servlet>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.ibm.ws.lra.servlet.Test</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>test</url-pattern>
  </servlet-mapping>
  -->
  <!-- 
  <servlet>
    <servlet-name>restTest</servlet-name>
    <servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>com.ibm.ws.lra.rest.RestTest</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>restTest</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
  -->

</web-app>
